.Rproj.user
.Rhistory
.RData
.Ruserdata

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Data files
*.csv
*.txt

# ignore all files in any directory named
data/
/data
